/* ============================================================================
   COMPONENTS -> post
   ========================================================================= */


.c-post{
	&__header{
		margin: 0 0 2rem;
	}
	&__title{
		margin: 0 0 1rem;
		font-weight: 700;
	}
	&__meta{
		margin: 0 0 .5rem;
		font-size: set-font('size', 'xs');
		.single-meta{
			display: inline-block;
			vertical-align: top;
			font-size: set-font('size', 'xs');
			color: set-color('text', 'sub');
			i[class^="fa"]{
				color: $grey500;
				margin: 0 6px 0 0;
			}
		}
	}
	&--news{
		//
	}
	&__single-person{
		margin: 2rem 0;
		padding: 16px;
		background-color: #fafafa;
		border: 2px dashed rgba(#000, .08);
		.c-card{
			padding: 0;
			margin: 0;
			background-color: transparent;
		}
	}
}